section#blog
	.container
		article.post
			.video.wait
				.count
					span next episode airing after
					#countdown.time 6d 17h 14s

			.meta
				h2 Title is still in bakery, but it smells good.
				time April 24, 2015
				p It's not that we don't know what follows, but by telling you we would break a non-disclosure agreement on 1000+ pages. It just seems like a waste of paper. Do you want us to pollute? No? I didn't think so.
				a(href="#youtube" target="_blank").button check youtube

			.guests
				.guest
					img(src="img/guests/mistery.png" alt="Mistery Man")
					h4 Mistery Man
					p Not much is known about this man yet.

		article.post
			.video
				iframe(width="760" height="428" src="https://www.youtube.com/embed/eWgHD8VcDCg" frameborder="0" allowfullscreen)

			.meta
				h2 Pilot: Why choose Groovy? 
				time April 17, 2015
				p Let's talk to Andrey Adamovich about Groovy, current state of things and future. Is it worth to invest in learning Groovy? Is Groovy dead? Why Pivotal abandoned Groovy? Let's figure it out.
				a(href="https://www.youtube.com/watch?v=eWgHD8VcDCg").button check youtube

			.guests
				.guest
					img(src="img/guests/eduards-sizovs.jpeg" alt="Eduards Sizovs")
					h4 Eduards Sizovs
					p Person you all know very well - man behind LatCraft.
				.guest
					img(src="img/guests/andrey-adamovich.jpeg" alt="Andrey Adamovich")
					h4 Andrey Adamovich
					p A real Groovy star amongs developers. He even has wrote a book. Check it out here.